<h2>🛒 Mon Panier</h2>
@for (item of cart.cartItems(); track $index; let i = $index) {
<div class="cart-item">
  <div class="info">
    <h3>{{ item.name }}</h3>
    <p>{{ item.price }} DH</p>
  </div>

  <div class="quantity">
    <button (click)="cart.decrementQty(i)">-</button>
    <span>{{ item.quantity }}</span>
    <button (click)="cart.incrementQty(i)">+</button>
  </div>

  <p class="subtotal">{{ item.price * item.quantity }} DH</p>
</div>
}
<h3 class="total">Total : {{ cart.totalPrice() }} DH</h3>

<button class="add-btn" (click)="cart.addItem({ name: 'Clavier', price: 300 })">
  Ajouter un clavier
</button>
